{% extends 'base.html.twig' %}

{% block title %}Competance index{% endblock %}

{% block body %}
    <h1>Competance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Class</th>
                <th>Description_c</th>
                <th>Description_l</th>
                <th>Creation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competance in competances %}
            <tr>
                <td>{{ competance.id }}</td>
                <td>{{ competance.code }}</td>
                <td>{{ competance.class }}</td>
                <td>{{ competance.descriptionC }}</td>
                <td>{{ competance.descriptionL }}</td>
                <td>{{ competance.creation ? competance.creation|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_competance_show', {'id': competance.id}) }}">show</a>
                    <a href="{{ path('app_competance_edit', {'id': competance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_competance_new') }}">Create new</a>
{% endblock %}
